<?xml version="1.0"?>
<configuration>
  <startup>
    <supportedRuntime version="v2.0.50727"/>
  </startup>
  <appSettings>
    <add key="ZoneEditDns_User" value="USERNAME"/>
    <add key="ZoneEditDns_Pass" value="PASSWORD"/>
    <add key="ZoneEditDns_Hosts" value="MYFIRSTDOMAIN.COM,*.MYFIRSTDOMAIN.COM,MYOTHERDOMAIN.NL,*.MYOTHERDOMAIN.NL"/>
  </appSettings>
</configuration>
